/* Variables */
:root {
  --lightLavender: #c7bffefa;
}

/* Global Rules */
/* Hanken_Grotesk */
@font-face {
  font-family: "Hanken Grotesk";
  src: url("../Hanken_Grotesk/HankenGrotesk-VariableFont_wght.ttf")
    format("truetype");
  font-weight: normal;
  font-style: normal;
}

* {
  font-family: "Hanken Grotesk", sans-serif;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
}
html {
  scroll-behavior: smooth;
}
body > #skip-to-content {
  text-decoration: none;
  color: white;
  padding: 0.5rem 1rem;
  border-radius: 0 0 0.25rem 0.25rem;
  background-color: black;
  position: absolute;
  left: 0.3rem;
  transform: translateY(-100%);
  z-index: 100000000000;
  transition: all 0.3s;
}
body > #skip-to-content:focus {
  transform: translateY(0);
}

/* ----result---- */
#result {
  width: 100vw;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}
#result > #result-container {
  width: 736px;
  height: 512px;
box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
  display: grid;
  grid-template-columns: 1fr 1fr;
}
#result > #result-container,
#result > #result-container > #your-result,
#result > #result-container > #summary {
  border-radius: 30px;
}
/* --your-result-- */
#result > #result-container > #your-result {
  background-image: linear-gradient(to bottom, #6544f4, #312cea);
  display: flex;
  align-items: center;
  flex-direction: column;
}
#result > #result-container > #your-result > h1 {
  font-size: 25px;
  color: var(--lightLavender);
  padding: 40px 0 37px;
}
#result > #result-container > #your-result > #score {
  height: 200px;
  width: 200px;
  padding-bottom: 20px;
  font-size: 72px;
  font-weight: bolder;
  color: white;
  border-radius: 50%;
  background-image: linear-gradient(to bottom, #4e24cb, #4734f0);
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
}
#result > #result-container > #your-result > #score::after {
  content: "of 100";
  position: absolute;
  font-size: 18px;
  color: #9b8eff;
  bottom: 23.5%;
  left: 49%;
  transform: translateX(-50%);
}
#result > #result-container > #your-result > #description {
  padding: 24px 0 20px;
  text-align: center;
  width: 245px;
}
#result > #result-container > #your-result > #description > h2 {
  font-size: 32px;
  color: white;
}
#result > #result-container > #your-result > #description > p {
  font-size: 18px;
  line-height: 23px;
  color: var(--lightLavender);
  padding: 20px 0;
}
/* --summary-- */
#result > #result-container > #summary {
  background-color: white;
  padding: 40px;
  font-weight: 600;
}
#result > #result-container > #summary > h2 {
  font-size: x-large;
  color: #282e46;
  margin-bottom: 30px;
}
#result > #result-container > #summary > div,
#result > #result-container > #summary > button {
  width: 100%;
  height: 55px;
  font-size: 18px;
}
#result > #result-container > #summary > div {
  margin: 16px 0;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 18px;
  border-radius: 10px;
}
#result > #result-container > #summary > #reaction {
  background-color: #fff6f5;
}
#result > #result-container > #summary > #memory {
  background-color: #fffbf2;
}
#result > #result-container > #summary > #verbal {
  background-color: #f2fbfa;
}
#result > #result-container > #summary > #visual {
  background-color: #f3f3fd;
}
#result > #result-container > #summary .left-side {
  display: flex;
  align-items: center;
}
#result > #result-container > #summary .left-side > span {
  padding-left: 10px;
}
#result > #result-container > #summary > #reaction > .left-side > span {
  color: #e07b71;
}
#result > #result-container > #summary > #memory > .left-side > span {
  color: #fcc046;
}
#result > #result-container > #summary > #verbal > .left-side > span {
  color: #51ae96;
}
#result > #result-container > #summary > #visual > .left-side > span {
  color: #5a63d9;
}
#result > #result-container > #summary .right-side > span:last-child {
  color: gray;
  padding-left: 2px;
}
#result > #result-container > #summary > button {
  background-color: #303b59;
  color: white;
  font-weight: bolder;
  border: none;
  border-radius: 30px;
  cursor: pointer;
  margin-top: 24px;
  transition: all 0.3s;
}
#result > #result-container > #summary > button:hover {
  background-color: #2a344f;
  transform: scale(1.01) translateY(-3px);
}

/* Media Queries */
@media (max-width: 768px) {
  #result-container {
    grid-template-columns: 1fr !important;
    width: 100vw !important;
    height: 100vh !important;
  }

  #result > #result-container,
  #result > #result-container > #summary {
    border-radius: 0 !important;
  }
  #result > #result-container > #your-result {
    border-radius: 0 0 30px 30px !important;
  }
  #result > #result-container > #your-result > #description {
    padding: 20px 0 !important;
    width: 80% !important;
  }
  #result > #result-container > #your-result > h1 {
    padding: 25px 0 !important;
  }
  #result > #result-container > #your-result > #score {
    height: 150px !important;
    width: 150px !important;
    font-size: 50px;
  }
  #result > #result-container > #your-result > #score::after {
    font-size: 15px !important;
    bottom: 25% !important;
  }

  #result > #result-container > #summary {
    padding: 18px 30px !important;
  }
  #result > #result-container > #summary > button {
    margin-top: 15px !important;
  }
}
