/* Variables */
:root {
  /* Primary Colors */
  --color-light-red: #a40000;
  --color-orangey-yellow: #9d6600;
  --color-green-teal: #05604b;
  --color-cobalt-blue: hsl(234, 85%, 45%);

  /* Gradients */
  --color-light-slate-blue-background: hsl(252, 100%, 67%);
  --color-light-royal-blue-background: hsl(241, 81%, 54%);

  --color-violet-blue-circle: hsla(256, 72%, 46%, 1);
  --color-persian-blue-circle: hsla(241, 72%, 46%, 0);

  /* Neutral Colors */
  --color-white: hsl(0, 0%, 100%);
  --color-pale-red: hsl(0, 100%, 96%);
  --color-pale-yellow: hsla(60, 100%, 96%);
  --color-pale-green: hsl(120, 100%, 96%);
  --color-pale-blue: hsl(221, 100%, 96%);
  --color-light-lavender: hsl(241, 100%, 89%);
  --color-dark-gray-blue: hsl(224, 30%, 27%);
}

/* Google Fonts */
@font-face {
  font-family: "Hanken Grotesk";
  src: url("../fonts/Hanken_Grotesk/HankenGrotesk-VariableFont_wght.ttf")
    format("truetype");
  font-weight: 500 700 800;
  font-style: normal;
  font-display: swap;
}

body {
  font-family: "Hanken Grotesk", sans-serif;
  position: relative;
}

/* Global Styles */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
}
.center {
  display: flex;
  justify-content: center;
  align-items: center;
}
.part {
  width: 50%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
}
.detail {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  height: 3.5rem;
  border-radius: 0.5rem;
  padding: 0 1rem;
  font-size: 1.1rem;
}
.detail > p,
.detail > h2 {
  display: flex;
  align-items: center;
  gap: 0.5rem;
  font-weight: 600;
}
.detail > p > span:first-child {
  font-weight: 700;
}
.detail > p > span:last-child {
  color: var(--color-dark-gray-blue);
}
.hidden {
  display: none;
}

/* Main Styles */
main {
  min-height: 100vh;
}

/* Main Component */
#main-component {
  width: 46rem;
  height: 32rem;
  border-radius: 2rem;
  display: flex;
  box-shadow: 0 0 0.8rem 0.8rem rgba(0, 0, 0, 0.1);
  overflow: hidden;
}
/* Main Component Animation */
#main-component {
  animation: fadeIn 0.6s ease-in-out;
}
@keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

/* Main Component -> result */
#result {
  background-image: linear-gradient(
    to bottom,
    var(--color-light-slate-blue-background),
    var(--color-light-royal-blue-background)
  );
  padding: 2.5rem 3.2rem;
  padding: 2.5rem 3.2rem;
}
#result h1 {
  color: var(--color-light-lavender);
  font-size: 1.5rem;
  font-weight: 600;
}
#result #result-circel {
  width: 12rem;
  height: 12rem;
  background-image: linear-gradient(
    to bottom,
    var(--color-violet-blue-circle) 70%,
    var(--color-persian-blue-circle) 100%
  );
  border-radius: 50%;
  flex-direction: column;
  gap: 0.5rem;
}
#result #result-circel > span:first-child {
  color: var(--color-white);
  font-size: 4.5rem;
  font-weight: 800;
}
#result #result-circel > span:last-child {
  color: var(--color-light-lavender);
  font-size: 0.9rem;
  font-weight: 700;
}
#result #result-contnet {
  text-align: center;
}
#result #result-contnet > h2 {
  font-size: 2rem;
  font-weight: 600;
  margin-bottom: 1.2rem;
  color: var(--color-white);
}
#result #result-contnet > p {
  font-size: 1.1rem;
  font-weight: 500;
  margin-bottom: 1.5rem;
  color: var(--color-light-lavender);
  line-height: 1.4rem;
}

/* Main Component -> Summary */
#summary {
  padding: 2.6rem 2.5rem;
}
#summary > h1 {
  width: 100%;
  font-size: 1.5rem;
  font-weight: 700;
}
#summary > #summary-content {
  display: flex;
  flex-direction: column;
  gap: 1.2rem;
  width: 100%;
}
#summary > #summary-content > #summary-reaction {
  background: var(--color-pale-red);
}
#summary > #summary-content > #summary-reaction > h2 {
  color: var(--color-light-red);
}
#summary > #summary-content > #summary-memory {
  background: var(--color-pale-yellow);
}
#summary > #summary-content > #summary-memory > h2 {
  color: var(--color-orangey-yellow);
}
#summary > #summary-content > #summary-verbal {
  background: var(--color-pale-green);
}
#summary > #summary-content > #summary-verbal > h2 {
  color: var(--color-green-teal);
}
#summary > #summary-content > #summary-visual {
  background: var(--color-pale-blue);
}
#summary > #summary-content > #summary-visual > h2 {
  color: var(--color-cobalt-blue);
}

#summary > #summary-button {
  width: 100%;
  height: 3.5rem;
  background-color: var(--color-dark-gray-blue);
  color: var(--color-white);
  border-radius: 2rem;
  font-size: 1.1rem;
  font-weight: 600;
  cursor: pointer;
  border: none;
  transition: all 0.3s;
  will-change: auto;
}
#summary > #summary-button:hover {
  filter: brightness(1.2);
}

/* Footer */
footer {
  position: absolute;
  bottom: 1rem;
  left: 50%;
  transform: translateX(-50%);
}
footer > ul {
  display: flex;
  gap: 0.8rem;
  align-items: center;
}
/* Media Queries */
@media screen and (max-width: 768px) {
  main {
    display: block !important;
  }
  #main-component {
    flex-direction: column;
    width: 100%;
    height: 100%;
    border-radius: 0;
    padding-bottom: 2rem;
  }
  .part {
    width: 100%;
    gap: 1.2rem;
  }
  #result {
    padding: 2rem 1.5rem;
  }
}
